//
@import '~bootstrap/scss/bootstrap';

body{
    background-color: white;
}

img{
    max-width: 500px;
}

.nav-item.active{
    text-decoration: underline;
    font-size: bolder;
}

form {
    margin: 50px auto;
}